<h1>Members of AIR</h1>
<div class="main-content" style="margin-bottom:-50px">
<div class="media response-info" style="margin-top:-50px">
    <div class="response-text-left">
<table>
  <tr>
    <td></td>
    <td>학번</td>
    <td>이름</td> 
    <td>이메일</td>
    <td>현거주도시</td>
    <td>전화#</td>
  </tr>
<% @users.each do |urs| %>
  <tr>
    <% if urs.image.url %>
    <td><img src="<%=urs.image.url%>" width="30px" height="30px"></td>
    <% else %>
    <td><img src="/images/p2.jpg" width="30px" height="30px"></td>
    <% end %>
    <td><%=urs.classid%></td>
    <td><%= link_to profile_path(urs.id) do %><%=urs.username%><% end %></td>    
    <td><%=urs.email%></td>
    <td><%=urs.aloca%></td>
    <td><%=urs.phone%></td>
  </tr>

<% end %>    
    
</table>
		           <div class="clearfix"> </div>
  </div>
</div>
</div>
